<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roll Dice</title>
    <link rel="stylesheet" href="../../content/css/style.css">
    <script src="../../controllers/script.js" dfer></script> 
</head>
<body>
    <div class="button-container">  
        <h1>Did you land on a Dice Tile?</h1>
        <button class="button yes-button" onclick="yesDice()">Yes</button>
        <button class="button no-button" onclick="noDice()">No</button>
    </div>
</body>
</html>