
.counter {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.counter.hide {
    transform: translate(-50%, -50%) scale(0);
    animation: hide .2s ease-out;
}

@keyframes hide {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        transform: translate(-50%, -50%) scale(0);
    }
}

.final {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  display: flex; /* Add display: flex */
  flex-direction: column; /* Add flex-direction: column */
  align-items: center; /* Add align-items: center */
  justify-content: center; /* Add justify-content: center */
}

.final.show {
    transform: translate(-50%, -50%) scale(1);
    animation: show .3s ease-in;
}

@keyframes show {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }

    80% {
        transform: translate(-50%, -50%) scale(1.4);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.nums {
  color: #3498db;
  position: relative;
  font-size: 100px;
  overflow: hidden;
  width: 250px;
  height: 100px;
}

.nums span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(120deg);
  transform-origin: bottom center;
}

.nums span.in {
    transform: translate(-50%, -50%) rotate(0deg);
  animation: goIn .5s ease-in-out;
}

.nums span.out {
  animation: goOut .5s ease-in-out;
}

@keyframes goIn {
  0% {
    transform: translate(-50%, -50%) rotate(120deg);
  }
  30% {
    transform: translate(-50%, -50%) rotate(-20deg);
  }

  60% {
    transform: translate(-50%, -50%) rotate(10deg);
  }

  90%, 100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

}

@keyframes goOut {
  0%, 30% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  60% {
    transform: translate(-50%, -50%) rotate(20deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-120deg);
  }
}

h4 {
  font-size: 20px;
  margin: 5px;
  text-transform: uppercase;
}

.start {
  border: none;
  border-radius: 5px; 
  color: white;
  padding: 45px 120px; 
  margin: 10px; 
  cursor: pointer;
  font-size: 60px; 
  transition: background-color 0.3s ease;
  display: inline-block; 
  align-items: center; 
  justify-content: center; 
  text-align: center;
  text-decoration: none;
}

.start .button-text {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  text-decoration: none;
}


