* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background-image: url('../images/wood-floor.jpg');
}

.wrapper {
    width: 90%;
    max-width: 34.37em;
    max-height: 90vh;
    background-color: #ffffff;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 3em;
    border-radius: 1em;
    box-shadow: 0 4em 5em rgba(27, 8, 53, 0.2);
}

/* Text */

#heading {
    font-size: 1.5em;
    text-align: center;
    color: #202020;
    font-weight: 500;
    margin-bottom: 30px;
  }

  #subheading {
    font-size: 1.0em;
    text-align: center;
    color: #202020;
    font-weight: 300;
}

/* Dice Container */

.dice-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dice {
    width: 100px;
    height: 100px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.dice-face {
    position: absolute;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid #838383;
    border-radius: 5px;
    background-color: #fef9f3; /* Less white background */
    backface-visibility: hidden;
}

.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #000000; /* Black dots */
    box-shadow: 0px 0px 5px #ffffff94;
}

/* Organizing Dice Faces Dots */

.dice-face[data-face="1"]{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dice-face[data-face="2"]{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.dice-face[data-face="3"]{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.dice-face[data-face="3"] .dot:nth-child(1){
    transform: translateX(-25px);
}
.dice-face[data-face="3"] .dot:nth-child(3){
    transform: translateX(25px);
}
.dice-face[data-face="4"]{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.dice-face[data-face="4"] .dot:nth-child(1){
    transform: translate(7px, -17px);
}
.dice-face[data-face="4"] .dot:nth-child(2){
    transform: translate(36px, -16px)
}
.dice-face[data-face="4"] .dot:nth-child(3){
    transform: translate(-32px, 22px)
}
.dice-face[data-face="4"] .dot:nth-child(4){
    transform: translate(-3px, 22px)
}

.dice-face[data-face="5"]{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.dice-face[data-face="5"] .dot:nth-child(1){
    transform: translate(7px, -17px);
}
.dice-face[data-face="5"] .dot:nth-child(2){
    transform: translate(44px, -15px)
}
.dice-face[data-face="5"] .dot:nth-child(3){
    transform: translate(1px, 4px)
}
.dice-face[data-face="5"] .dot:nth-child(4){
    transform: translate(-42px, 24px)
}

.dice-face[data-face="5"] .dot:nth-child(5){
    transform: translate(-4px, 25px)
}
.dice-face[data-face="6"] {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2px 15px;
}
.dice-face[data-face="6"] .dot {
    transform: translate(14px, 7px);
}


/* Dice Face to show if Face value is set */

.dice-face[data-face="1"] {
    transform: translateZ(3.1em); 
}
  
.dice-face[data-face="6"] {
transform: rotateY(90deg) translateZ(3.1em); 
}

.dice-face[data-face="3"] {
transform: rotateY(-90deg) translateZ(3.1em); 
}

.dice-face[data-face="4"] {
transform: rotateX(90deg) translateZ(3.1em); 
}

.dice-face[data-face="5"] {
transform: rotateX(-90deg) translateZ(3.1em); 
}

.dice-face[data-face="2"] {
transform: rotateY(-180deg) translateZ(3.1em); 
}

/* Dice Rolling Animation */

.dice.rolling{
    animation:roll 1.2s ease-in-out infinite
}
@keyframes roll{
    0%{
        transform: rotateX(0deg) rotateZ(0deg);
    }
    25%{
        transform: rotateX(90deg) rotateZ(90deg);
    }
    50%{
        transform: rotateX(180deg) rotateZ(180deg);
    }
    75%{
        transform: rotateX(360deg) rotateZ(360deg);
    }
    100%{
        transform: rotateX(180deg) rotateZ(180deg);
    }
}
.dice[data-face="1"]{
    transform: rotateX(0deg) rotateZ(0deg);
}
.dice[data-face="2"]{
    transform: rotateX(180deg) rotateZ(0deg);
}
.dice[data-face="3"]{
    transform: rotateY(90deg) rotateZ(0deg);
}
.dice[data-face="4"]{
    transform: rotateX(270deg) rotateZ(0deg);
}
.dice[data-face="5"]{
    transform: rotateX(90deg) rotateZ(0deg);
}
.dice[data-face="6"]{
    transform: rotateY(270deg) rotateZ(0deg);
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .wrapper {
        font-size: 12px;
    }
}

/* Buttons Styling */

.modal-btn, .regular, .special {
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.regular {
    background-color: #007bff; /* Blue */
}

.regular:hover {
    background-color: #0056b3; /* Darker blue */
  }

.special {
    background: linear-gradient(to right, blue, red, orange);
    color: yellow;
    border: 2px solid white;
}

.special:hover {
    background: linear-gradient(to top, blue, red, orange);
}
